<h1><%= render :partial => 'title' %></h1>
<h2>
  <%= render :partial => "submenu" %>
</h2>
<%= render(:partial => "shared/ubiquo/feedback") %>

<%= render :partial => 'article', :object => @article %>

<p class="form_buttons">
  <%= button_to_function t('ubiquo.edit'), "document.location.href='#{edit_ubiquo_article_path(@article)}'" %>
  <%= button_to_function t('ubiquo.back_to_list'), "document.location.href='#{ubiquo_articles_path}'" %>
</p>
